.divdecontenedor{
    border-bottom: solid rgb(51, 51, 170) 2px;
    height: 140px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -40px 30px -28px inset;
    border-radius: 5px;
    display: flex;
}
.imgdex{
    margin: auto;
    width: 25px;
    height: 25px;
    border: solid black 2px;
    border-radius: 20px;
    margin-left: 10px;
}
.divcarritoinside{
    flex-grow: 5;
    display: flex;
    height: 100px;
    justify-content: space-around;
    border: 1px black solid;
    border-radius: 10px;
    margin-top: 10px;
    align-items: center;
    background: linear-gradient(90deg, rgb(68, 68, 68), rgb(131, 129, 129), rgb(165, 156, 156));
}
.pcarritoinside{
font-size: 20px;
}
.imgcarritoinside{
    height: 98px;
    width: 100px;

}
.precioCarrito{
    font-size: 20px;
}
.cantidad{
    font-size: 20px;
}
.oofcanvacolor{
    position: relative;
    background-color: rgb(99, 120, 158);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pTotales{
    font-size: 30px;
    font-family: perpetua;
}
.precioTotal{
    font-size: 30px;
    font-family: perpetua;
}
.Div-Totales-precio{
    height: 20px;
    width: 100px;
    border-bottom: solid 3px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.BTNCOMPRASTO{
    --bg: #e74c3c;
    --text-color: #fff;
    position: relative;
    height: 50px;
    width: 120px;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
}
.BTNCOMPRASTO:hover {
    opacity: 1;
  }
  
 .BTNCOMPRASTO:active {
    top: 4px;
    box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
  }