@font-face {
    font-family:perpetua ;
    src: url(../font-family/unicode.perpetua.ttf);
    src: url(../font-family/per_____.ttf);
    src: url(../font-family/perb____.ttf);
    src: url(../font-family/perpeta.ttf);
    src: url(../font-family/PerpetuaBoldfont.ttf);
}
body{
    margin: 0;
}
main{
    background: #EFEFBB; 
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);     
}
.InputContainer {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(8, 8, 8);
    overflow: hidden;
    padding: 0px 5px 0px 15px;
    border: 1px solid rgba(255, 255, 255, 0.322);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  }
  
  .inputcompras {
    width: 170px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 0.9em;
    caret-color: rgb(255, 81, 0);
    background-color: rgb(8, 8, 8);
    font-weight: 600;
    color: white;
  }
  
  .visaCard {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 25px;
    background-color: rgb(8, 8, 8);
    pointer-events: none;
    border: 1px solid rgba(255, 255, 255, 0.068);
    border-radius: 7px;
  }
  