@font-face {
    font-family:perpetua ;
    src: url(../font-family/unicode.perpetua.ttf);
    src: url(../font-family/per_____.ttf);
    src: url(../font-family/perb____.ttf);
    src: url(../font-family/perpeta.ttf);
    src: url(../font-family/PerpetuaBoldfont.ttf);
}
body{
    margin: 0;
}
